<!DOCTYPE html>
<html lang="en" ng-app="">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANGULARJS</title>
    <style>

    </style>
</head>

<body style="background-color: {{color}};">
    <input type="number" ng-model="val1">
    <input type="number" ng-model="val2"> {{val1+val2}}
    <input type="color" ng-model="color">


    <script src="script/angular.js"></script>
</body>

</html>